[access]
	inheritFrom = Public-Plugins
[project]
	description = Plugin to import projects from one Gerrit server into another Gerrit server.\n\
\n\
Projects can be imported while both source and target Gerrit server are online. There is no downtime required.\n\
\n\
The git repository and all changes of the project, including approvals and review comments, are imported. Historic timestamps are preserved.\n\
\n\
Project imports can be resumed. This means a project team can continue to work in the source system while the import to the target system is done. By resuming the import the project in the target system can be updated with the missing delta.\n\
\n\
The plugin can also be used to copy a project within one Gerrit server, and in combination with the delete-project plugin [1] it can be used to rename a project.\n\
\n\
For details about preconditions and how the plugin works, have a look at the plugin documentation.\n\
\n\
"[1] https://gerrit-review.googlesource.com/#/admin/projects/plugins/delete-project"
[access "refs/*"]
	owner = group plugins-importer
